{% extends 'base.html' %}


{% block body %}
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Tables</h1>
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    DataTable Example
                </div>
                <div class="card-body">
                    <table id="datatablesSimple">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Aksi</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Name</th>
                                <th>Aksi</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            {% for d in data %}
                            <tr>
                                <td>{{ d.judul }}</td>
                                <td>
                                    <a href="{% url 'detail' d.id %}" class="btn btn-sm btn-success">Detail</a>
                                    <a href="{% url 'hapus' d.id %}" class="btn btn-sm btn-danger" onclick="confirm('Apakah yakin ingin menghapus?')">Hapus</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
    <footer class="py-4 bg-light mt-auto">
        <div class="container-fluid px-4">
            <div class="d-flex align-items-center justify-content-between small">
                <div class="text-muted">Copyright &copy; Your Website 2023</div>
                <div>
                    <a href="#">Privacy Policy</a>
                    &middot;
                    <a href="#">Terms &amp; Conditions</a>
                </div>
            </div>
        </div>
    </footer>
</div>
{% endblock body %}
